In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [3]:
data=pd.read_csv('real_estate_price_size_year.csv')
data.head()

        price     size  year
0  234314.144   643.09  2015
1  228581.528   656.22  2009
2  281626.336   487.29  2018
3  401255.608  1504.75  2015
4  458674.256  1275.46  2009

In [6]:
x=data[['size','year']]
y=data['price']

In [7]:
reg=LinearRegression()

In [8]:
reg.fit(x,y)

LinearRegression()

In [13]:
#切片
interception=reg.intercept_

In [14]:
#係数
cofficient=reg.coef_

In [22]:
#決定係数
r2=reg.score(x,y)
r2

0.7764803683276791

In [17]:
x.shape

(100, 2)

In [18]:
y.shape

(100,)

In [19]:
n=x.shape[0]
p=x.shape[1]

In [21]:
#自由度修正済み決定係数
r2_adj=1-(1-r2)*(n-1)/(n-p-1)
r2_adj

0.7718717161282498

In [24]:
reg.predict([[750,2009]])

array([258330.34465995])

In [25]:
from sklearn.feature_selection import f_regression

In [27]:
f_regression=f_regression(x,y)

In [28]:
p_values=f_regression[1]

In [31]:
p=p_values.round(3)

In [38]:
reg_summary=pd.DataFrame(index={'size','year'})
reg_summary['cofficient']=cofficient
reg_summary['p-values']=p
reg_summary

       cofficient  p-values
year   227.700854     0.000
size  2916.785327     0.357