In [1]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

from sklearn.linear_model import LinearRegression

In [2]:
reg=LinearRegression()

In [7]:
data=pd.read_csv('1.02. Multiple linear regression.csv')
data.head()

    SAT  Rand 1,2,3   GPA
0  1714           1  2.40
1  1664           3  2.52
2  1760           3  2.54
3  1685           3  2.74
4  1693           2  2.83

In [11]:
y=data['GPA']
x=data[['SAT','Rand 1,2,3']]

In [12]:
reg.fit(x,y)

LinearRegression()

In [13]:
reg.intercept_

0.29603261264909486

In [41]:
reg.coef_

array([ 0.00165354, -0.00826982])

In [50]:
def  adj_r2(x,y):
    r2=reg.score(x,y)
    n=x.shape[0]
    p=2
    r2_adj=1-(1-r2)*(n-1)/(n-p-1)
    return r2_adj

In [51]:
adj_r2(x,y)

0.39203134825134023

(84,)

84